.contentBanner {
    display: flex;
}

.contentTitulo {
    width: 42%;
}

.titulo {
    position: relative;
    top: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #09295E;
}

.titulo>span {
    color: #21ADCF;
}

.contentImageBanner {
    width: 58%;
    text-align: right;
}

.imageBanner {
    width: 100%;
    height: 320px;
    background-size: cover;
    background: url('/assets/images/banner.jpg') no-repeat center center;
    border-radius: 0px 0px 0px 180px;
}

.appSearch {
    width: 60%;
    position: relative;
    bottom: 90px;
}