<div>
    <div class="contentBanner">
        <div class="contentTitulo">
            <div class="titulo"> Find any <span>country</span></div>
            <div class="titulo"> in the world.</div>
        </div>
        <div class="contentImageBanner">
            <img class="imageBanner" style="background-size: cover;">
        </div>
    </div>
    <div class="appSearch">
        <app-search></app-search>
    </div>
</div>