<div class="contentSelectSearch">
    <div class="selectSearch" (click)="toggleSelect()">
        <div #toggleSelectSearch class="optionSelectedSearch">
            <span>{{ optionSelected }}</span><i class="fa fa-chevron-down iconSelectSearch"></i>
        </div>
        <div class="optionsSelectSearch" *ngIf="selectOpen">
            <div class="optionSelectSearch" *ngFor="let option of optionsSelect" (click)="selectOption(option)">{{ option }}</div>
        </div>
    </div>
</div>