.contentSearch {
    width: 100%;
    height: 50px;
    display: flex;
}

.contentInputSearch {
    display: flex;
    width: 100%;
}

.contentInputSearch>input {
    width: 100%;
    font-size: 16px;
    color: #4F4F4F;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 10px 0px 0px 10px;
    padding: .375rem .75rem;
}

.contentInputSearch>input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.contentInputSearch>input::placeholder {
    color: #C4C4C4;
}

.contentSelectSearch {
    display: flex;
}

.selectSearch {
    width: 148px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.optionSelectedSearch {
    display: flex;
    height: 50px;
}

.optionSelectedSearch>span {
    margin: auto;
    width: 85px;
    text-align: center;
    font-size: 16px;
    color: #4F4F4F;
}

.optionSelectedSearch>i {
    margin: auto;
    font-size: 1em;
    color: #21ADCF;
}

.optionsSelectSearch {
    width: 220px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.optionSelectSearch {
    padding: 5px 15px;
    font-size: 14px;
    color: #000000;
    line-height: 20px;
    cursor: pointer;
}

.optionSelectSearch:hover {
    background: rgba(33, 173, 207, 0.1);
}

.contentButtonSearch {
    display: flex;
}

.buttonSearch {
    display: flex;
    width: 52px;
    background: #21ADCF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 0px 11px 11px 0px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.iconButtonSearch {
    margin: auto;
    font-size: 23px;
    color: #FFFFFF;
}