.contentCountriesList {
    display: flex;
}

.regions {
    float: left;
    margin: 0 20px 20px 0;
}

.regionName {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #09295E;
}

.country {
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.country:hover {
    background: rgba(33, 173, 207, 0.1);
}

.country>span {
    padding: 0 10px;
}

.flagCountry {
    width: 18px;
    height: 12px;
}

.fovoriteCountry {
    width: 18px;
    height: 12px;
    color: #F2C94C;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(9, 41, 94, 0.7);
    transition: opacity 500ms;
    z-index: 99;
}

.enableOverlay {
    visibility: visible;
    opacity: 1;
}

.disableOverlay {
    visibility: hidden;
    opacity: 0.7;
}

.modal {
    position: fixed;
    top: calc(50% - 145px);
    left: calc(50% - 275px);
    width: 550px;
    height: 290px;
    background: white;
    border-radius: 10px;
    padding: 15px 30px;
    z-index: 999;
}

.closeModal {
    text-align: right;
    cursor: pointer;
    color: #C5C5C5;
    font-size: 18px;
    position: relative;
    right: -14px;
    top: -4px;
}

.messageNoFound {
    width: calc(100% - 40px);
    text-align: center;
    font-size: 32px;
    color: #BDBDBD;
}

.errorMessage {
    width: calc(100% - 70px);
    text-align: center;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 30px;
    color: #842029;
}