<div class="contentCountriesList">
    <div class="regions" *ngFor="let region of regions" [ngStyle]="{ 'width': widthRegions }">
        <div class="regionName">{{ region.name }}</div>
        <div class="country" *ngFor="let country of region.countries" [title]="country.name" (click)="showCountry(country)">
            <img [src]="country.flag" class="flagCountry" loading="lazy">
            <span>{{ country.name }}</span>
            <i *ngIf="isFavoriteCountry(country.alpha3Code)" class="fa fa-star fovoriteCountry"></i>
        </div>
    </div>
    <div class="overlay" [ngClass]="(selectedCountry != null) ? 'enableOverlay' : 'disableOverlay'"></div>
    <div *ngIf="selectedCountry != null" class="modal">
        <div class="closeModal">
            <i class="fa fa-close" (click)="hideCountry()" title="Close"></i>
        </div>
        <app-country></app-country>
    </div>
    <div class="messageNoFound" *ngIf="regions.length === 0 && !loading && errorMessage == ''">
        {{ messageNoFound }}
    </div>
    <div class="errorMessage" *ngIf="errorMessage !== ''">
        {{ errorMessage }}
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>