<div class="contentSearch">
    <div class="contentInputSearch">
        <input type="text" placeholder="Search country" (keyup)="searchCountry()" [(ngModel)]="searchText">
    </div>
    <app-dropdowns (clickOption)="clickOption($event)"></app-dropdowns>
    <div class="contentButtonSearch" (click)="searchCountry()">
        <div class="buttonSearch" title="Search country">
            <i class="fa fa-search iconButtonSearch"></i>
        </div>
    </div>
</div>