.contentCountry>div {
    font-size: 13px;
    margin-bottom: 4px;
}

.contentCountry>div>span {
    font-weight: bold;
}

.countryName {
    margin-bottom: 10px !important;
}

.countryName>span {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #09295E !important;
}

.fovoriteCountry {
    width: 18px;
    height: 12px;
    color: #F2C94C;
    margin-left: 10px;
    cursor: pointer;
}

.contentFlagCountry {
    margin: 5px 0;
}

.contentFlagCountry>img {
    width: 110px;
    height: 70px;
}

.enableFavorite {
    color: #F2C94C;
}

.disableFavorite {
    color: gainsboro;
}
