<div class="contentCountry">
    <div class="countryName">
        <span>{{ country.name }}</span> <i class="fa fa-star fa-2x fovoriteCountry" [ngClass]="favoriteCountry ? 'enableFavorite' : 'disableFavorite'" (click)="saveFavorite(country.alpha3Code)"></i>
    </div>
    <div>
        <span>Region</span>: {{ country.region }}
    </div>
    <div>
        <span>Population:</span> {{ country.population | number }}
    </div>
    <div>
        <span>Capital:</span> {{ country.capital }}
    </div>
    <div>
        <span>Currencies:</span> {{ currencies }}
    </div>
    <div>
        <span>Languages:</span> {{ languages }}
    </div>
    <div>
        <span>Border Countries:</span> {{ borderCountries }}
    </div>
    <div>
        <span>Flag:</span>
        <div class="contentFlagCountry">
            <img [src]="country.flag">
        </div>
    </div>
</div>